In [45]:
import pandas as pd
import numpy as np

In [7]:
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])
groceries

30

In [9]:
groceries.shape

(4,)

In [10]:
groceries.ndim

1

In [11]:
groceries.size

4

In [12]:
groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [14]:
groceries.values

array([30, 6, 'Yes', 'No'], dtype=object)

In [15]:
"banana" in groceries

False

In [16]:
"bread" in groceries

True

In [17]:
# Accessing and Deleting Elements in Pandas Series
groceries['eggs']

30

In [18]:
groceries[['milk', 'bread']]

milk     Yes
bread     No
dtype: object

In [20]:
groceries[0]
groceries[-1]

'No'

In [24]:
groceries.loc[['eggs', 'apples']]

eggs      30
apples     6
dtype: object

In [25]:
groceries.iloc[[2, 3]]

milk     Yes
bread     No
dtype: object

In [27]:
groceries['eggs'] = 2
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [30]:
groceries.drop('apples')

eggs       2
milk     Yes
bread     No
dtype: object

In [31]:
groceries.drop('apples', inplace=True)
groceries

eggs       2
milk     Yes
bread     No
dtype: object

In [40]:
# Arithmetic Operations on Pandas Series

fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

apples     12
oranges     8
bananas     5
dtype: int64

In [44]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [43]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [41]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [42]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [46]:
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [47]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [48]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [50]:
fruits['bananas'] + 2

5

In [51]:
fruits.iloc[-1] + 2

5

In [53]:
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

In [54]:
fruits[['apples', 'oranges']] ** 2

apples     100
oranges     36
dtype: int64

In [55]:
fruits[['apples', 'oranges']] / 2

apples     5.0
oranges    3.0
dtype: float64

In [58]:
groceries * 2

eggs          4
milk     YesYes
bread      NoNo
dtype: object

In [ ]:
## Quiz
# DO NOT CHANGE THE VARIABLE NAMES

# Given a list representing a few planets
planets = ['Earth','Saturn', 'Venus', 'Mars', 'Jupiter']

# Given another list representing the the distance of the selected planets from the Sun
# The distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]


# TO DO: Create a Pandas Series using the lists above, representing the distance of some planets from the Sun.
# Use the `distance_from_sun` as your data, and `planets` as your index.
dist_planets = pd.Series(data=distance_from_sun, index=planets)


# TO DO: Calculate the time (minutes) it takes sunlight to reach each planet. 
# You can do this by dividing each planet's distance from the Sun by the speed of light.
# Use the speed of light, c = 18, since light travels 18 x 10^6 km/minute.
c = 18
time_light = dist_planets / c


# TO DO: Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light[time_light < 40]